.App {
  text-align: center;
  color: white;
  padding: 100px 50px;
}

#title h1 {
  font-weight: 200px;
}

.game_board_outline {
  border: 3px solid white;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  border-bottom: 3px solid white;
  width: 100%;
  height: 100%;
}

.left {
  border-right: 3px solid white;
  width: 100%;
  height: 100%;
}

.right {
  border-left: 3px solid white;
  width: 100%;
  height: 100%;
}

.bottom {
  border-top: 3px solid white;
  width: 100%;
  height: 100%;
}

.middle {
  width: 100%;
  height: 100%;
}

.square {
  width: 33.333333%;
  height: 33.333333%;
  float: left;
}

.x:before {
  transform: rotate(-45deg);
}

.x:after {
  transform: rotate(45deg);
}

.x:before, .x:after {
  position: absolute;
  content: "";
  display: block;
  background-color: #fff;
  left: 90px;
  top: 20px;
  width: 20px;
  height: 160px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.x, .o {
  position: relative;
  will-change: transform;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-animation: appear .2s cubic-bezier(0.5,1.8,0.1,1.1);
  -moz-animation: appear .2s cubic-bezier(0.5,1.8,0.1,1.1);
  animation: appear .2s cubic-bezier(0.5,1.8,0.1,1.1);
}

.o {
  left: 16.666666667%;
  top: 16.666666667%;
  width: 66.666666667%;
  height: 66.666666667%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 20px solid #fff;
}
#player_info {
  margin-top: 15px;
}
.player_info {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.player1, .player2 {
  float: left;
  width: 40%;
  height: 100%;
}

.ties {
  float: left;
  width: 20%;
  height: 100%;
}

.menu {
  position: absolute;
  min-width: 200px;
}

.menu .selected {
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}

.menu h3, .menu h4 {
  margin-bottom: 4px;
}
